@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 864px/2);
        padding-right: calc(50% - 864px/2);
    }
    .top {
        background-image: url(img/bg-star-big-green-mob.svg);
        background-repeat: no-repeat;
        background-position: left 865px top -90px;
    }
    .imgs {
        &__star {
            &_smaller {
                width: 21px;
                height: 21px;
                &-btm {
                    width: 18px;
                    height: 18px;
                    left: 773px;
                    top: 557px;
                }
            }
            &_small {
                width: 35px;
                height: 35px;
                &-btm {
                    width: 39px;
                    height: 41px;
                    left: 804px;
                    top: 580px;
                }
            }
        }
    }
    .content__img-star {
        &-smaller {
            left: 18px;
        }
        &-small {
            left: 25px;
        }
    }
    .card {
        &__img {
            max-width: 260px;
            max-height: 250px;
        }
        &__title {
            margin-left: 12px;
            margin-bottom: 26px;
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
        }
    }
    .card-game {
        height: 420px;
        &-even {
            height: 420px;
        }
        &__wrapper {
            padding-top: 14px;
        }
    }
}