* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
img {
    overflow: scroll;
}
body {
    font-family: "Montserrat", sans-serif;
    clip-path: inset(0 0 0 0);
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.title__none {
    display: block;
    position: absolute;
}
.bold__text {
    font-weight: bold;
}
.top {
    background: rgb(225, 255, 143);
    background-image: url(img/bg-star-big-green.svg);
    background-repeat: no-repeat;
    background-position: 60vw -23vw;
    &__title {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-top: 164px;
    }
    &__text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
        &_mob {
            display: none;
        }
    }
    &__btn-link {
        margin-top: 48px;
        margin-bottom: 156px;
    }
    &__btn {
        display: block;
        width: 247px;
        height: 66px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: inherit;
        font-size: 24px;
        font-weight: 600;
        line-height: 142%;
        padding: 16px 28px 16px 28px;
        transition: 0.3s;
        &:hover {
            background-color: #fff;
            box-sizing: border-box;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 60px;
            cursor: pointer;
            color: rgb(0, 0, 0);
        }
    }
    &__animated-strip {
        display: flex;
        background-color: #BCEC30;
        max-width: 100vw;
        max-height: 90px;
        margin-left: 0;
        overflow-x: hidden;
        white-space: nowrap;
        animation: scroll 10s linear infinite;
    }
}
.imgs {
    display: flex;
    padding-top: 37px;
    &__star_smaller {
        position: absolute;
        left: 11vw;
        top: 5vw;
        &-btm {
            position: absolute;
            width: 37px;
            height: 37px;
            left: 66vw;
            top: 47%;
        }
    }
    &__star_small {
        position: absolute;
        left: 4vw;
        top: 7vw;
        &-btm {
            position: absolute;
            width: 83px;
            height: 83px;
            left: 72vw;
            top: 50%;        
        }
    }
}
.animated-strip {
    background-image: url(img/star-small-black.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 36px;
    padding: 17px 51px 17px 17px;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.04em;
    text-decoration-skip-ink: none;


}
@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}
  
.content {
    background: rgb(32, 32, 39);
    background-image: url(img/bg-star-big-vector-yellow-tr.svg);
    background-repeat: no-repeat;
    background-position: 58vw 2%;
    background-size: 720px;
    &__img-star-small {
        position: absolute;
        width: 55px;
        height: 55px;
        left: 45px;
        top: 1622px;
        transform: rotate(5.45deg);
    }
    &__img-star-smaller {
        position: absolute;
        width: 31px;
        height: 31px;
        left: 28px;
        top: 1570px;
        transform: rotate(5.45deg);
        }
    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 94px;
    }
    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }
    &__text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__cards-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;
        margin-top: 72px;
        padding-bottom: 50px;
        &2 {
            display: flex;
            flex-direction: column;
            gap: 32px;
            z-index: 2;
        }
        &_mob {
            display: none;
        }
    }
}
.card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
    &__img {
        max-width: 378px;
        max-height: 314px;
    }
    &:hover {
        transform: scale(1.05);
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 32px;
        border-radius: 53px;
        background: rgb(247, 247, 247);
        color: rgb(32, 32, 39);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        width: 108px;
        height: 36px;
    }
    &__title {
        margin-left: 32px;
        margin-bottom: 36px;
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }
}
.games {
    background-image: url(img/bg-star-small-vector-yellow.svg),
    url(img/bg-star-small2-vector-yellow.svg),
    url(img/bg-star-small2-vector-yellow.svg),
    url(img/bg-star-small-vector-yellow.svg);
    background-repeat: no-repeat;
    background-position-x: 92%, 97%, 96%, 92%;
    background-position-y: 3%, 4%, 97%, 98%;
    margin-top: 46px;
    padding-bottom: 144px;
    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        margin-bottom: 72px;
    }
}
.content__wrapper2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card-game {
    max-height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 32px;
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
    &-even {
        max-height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
        border-radius: 30px;
        box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
        background: rgb(255, 255, 255);
    }
    &__img {
        width: 50%;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 50%;
        padding: 48px 48px 0 48px;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: rgb(32, 32, 39);
    }
    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #202027;
    }
    &__btn {
        width: 247px;
        height: 66px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: inherit;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        margin-bottom: 32px;
        transition: 0.3s;
        &:hover {
            background-color: #fff;
            box-sizing: border-box;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 60px;
            cursor: pointer;
            color: rgb(0, 0, 0);
        }
    }
}

.footer {
    background: rgb(189, 237, 53);
    padding-top: 61px;
    padding-bottom: 60px;
    &__text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
    }
}

@import "plansh";
@import "mobile";