* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  overflow: scroll;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.title__none {
  display: block;
  position: absolute;
}

.bold__text {
  font-weight: bold;
}

.top {
  background: rgb(225, 255, 143);
  background-image: url(img/bg-star-big-green.svg);
  background-repeat: no-repeat;
  background-position: 60vw -23vw;
  overflow-x: hidden;
}
.top__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 164px;
}
.top__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
}
.top__text_mob {
  display: none;
}
.top__btn-link {
  margin-top: 48px;
  margin-bottom: 156px;
}
.top__btn {
  display: block;
  width: 247px;
  height: 66px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  padding: 16px 28px 16px 28px;
  transition: 0.3s;
}
.top__btn:hover {
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.top__animated-strip {
  background-color: #BCEC30;
  width: 3220px;
  max-height: 90px;
  margin-left: 0;
  white-space: nowrap;
}
.top__animated-strip_block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 34px;
  animation: scroll 10s linear infinite;
  padding-left: 49px;
  padding-right: 49px;
}

.imgs {
  display: flex;
  padding-top: 37px;
}
.imgs__star {
  position: absolute;
}
.imgs__star_smaller {
  left: 11vw;
  top: 5vw;
}
.imgs__star_smaller-btm {
  width: 37px;
  height: 37px;
  left: 66vw;
  top: 538px;
}
.imgs__star_small {
  left: 4vw;
  top: 7vw;
}
.imgs__star_small-btm {
  width: 83px;
  height: 83px;
  left: 72vw;
  top: 568px;
}

.animated-strip {
  background-image: url(img/star-small-black.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 36px;
  padding: 17px 69px 17px 1px;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.content {
  background: rgb(32, 32, 39);
  background-image: url(img/bg-star-big-vector-yellow-tr.svg);
  background-repeat: no-repeat;
  background-position: 58vw 2%;
  background-size: 720px;
}
.content__img-star {
  position: absolute;
  transform: rotate(5.45deg);
}
.content__img-star-small {
  width: 55px;
  height: 55px;
  left: 45px;
  top: 1622px;
}
.content__img-star-smaller {
  width: 31px;
  height: 31px;
  left: 28px;
  top: 1570px;
}
.content__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 94px;
}
.content__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}
.content__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.content__cards-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  margin-top: 72px;
  padding-bottom: 50px;
}
.content__cards-box2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 2;
}
.content__cards-box_mob {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.card__img {
  max-width: 378px;
  max-height: 314px;
}
.card:hover {
  transform: scale(1.05);
}
.card__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  border-radius: 53px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  width: 108px;
  height: 36px;
}
.card__title {
  margin-left: 32px;
  margin-bottom: 36px;
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

.games {
  background-image: url(img/bg-star-small-vector-yellow.svg), url(img/bg-star-small2-vector-yellow.svg), url(img/bg-star-small2-vector-yellow.svg), url(img/bg-star-small-vector-yellow.svg);
  background-repeat: no-repeat;
  background-position-x: 92%, 97%, 96%, 92%;
  background-position-y: 3%, 4%, 97%, 98%;
  margin-top: 46px;
  padding-bottom: 144px;
}
.games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 40px;
}

.content__wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card-game {
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 32px;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.card-game__even {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.card-game__img {
  width: 600px;
}
.card-game__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
  padding: 48px 48px 0 48px;
}
.card-game__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: rgb(32, 32, 39);
}
.card-game__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #202027;
}
.card-game__btn {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  transition: 0.3s;
}
.card-game__btn:hover {
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.windowColors, .windowColorsMob {
  display: none;
  background-color: #fff;
  position: absolute;
  border: 3px solid black;
  width: 180px;
  height: 180px;
}

.viewWindowColors, .viewWindowColorsMob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn__changeColors, .btn__changeColorsMob {
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  padding: 6px;
  font-family: inherit;
}
.btn__changeColors:active, .btn__changeColorsMob:active {
  background-color: randomColor;
}
.btn__changeColors:hover, .btn__changeColorsMob:hover {
  cursor: pointer;
}
.btn__changeColors:hover, .btn__changeColorsMob:hover {
  transform: scale(1.05);
  font-weight: bold;
}

.footer {
  background: rgb(189, 237, 53);
  padding-top: 61px;
  padding-bottom: 60px;
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 432px);
    padding-right: calc(50% - 432px);
  }
  .top {
    background-image: url(img/bg-star-big-green-mob.svg);
    background-repeat: no-repeat;
    background-position: left 865px top -90px;
  }
  .imgs__star_smaller {
    width: 21px;
    height: 21px;
  }
  .imgs__star_smaller-btm {
    width: 18px;
    height: 18px;
    left: 773px;
    top: 557px;
  }
  .imgs__star_small {
    width: 35px;
    height: 35px;
  }
  .imgs__star_small-btm {
    width: 39px;
    height: 41px;
    left: 804px;
    top: 580px;
  }
  .content__img-star-smaller {
    left: 18px;
  }
  .content__img-star-small {
    left: 25px;
  }
  .card__img {
    max-width: 260px;
    max-height: 250px;
  }
  .card__title {
    margin-left: 12px;
    margin-bottom: 26px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }
  .card-game {
    height: 420px;
  }
  .card-game__even {
    height: 420px;
  }
  .card-game__wrapper {
    padding-top: 14px;
  }
}
@media (max-width: 768px) {
  .center {
    padding-left: calc(50% - 170px);
    padding-right: calc(50% - 170px);
  }
  .top {
    background-position: left 620px top -90px;
  }
  .top__title {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-top: 110px;
  }
  .top__text {
    display: none;
  }
  .top__text_mob {
    display: block;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-top: 12px;
  }
  .top__btn-link {
    padding-top: 36px;
    padding-bottom: 131px;
    margin: auto;
  }
  .top__btn {
    display: block;
    width: 285px;
    height: 55px;
    font-size: 16px;
    text-align: center;
    margin: auto;
  }
  .top__btn:hover {
    border: 1px solid rgb(32, 32, 39);
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
  }
  .top__animated-strip {
    gap: 19px;
    width: 1717px;
    max-height: 51px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .animated-strip {
    background-size: 19px;
    padding: 17px 40px 17px 1px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 4%;
  }
  .imgs__star_smaller-btm {
    left: 673px;
  }
  .imgs__star_small-btm {
    left: 690px;
    top: 580px;
  }
  .line-h {
    display: block;
    padding-top: 20px;
  }
  .content {
    background: rgb(32, 32, 39);
  }
  .content__img-star {
    display: none;
  }
  .content__text-wrapper {
    display: none;
  }
  .content__title {
    font-size: 40px;
    line-height: 49px;
    padding-top: 48px;
    padding-bottom: 16px;
  }
  .content__cards-box {
    display: none;
  }
  .content__cards-box2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 2;
  }
  .content__cards-box_mob {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 50px;
  }
  .card__img {
    max-width: 100%;
    max-height: 314px;
  }
  .card__btn {
    margin-left: 32px;
    border-radius: 53px;
    background: rgb(247, 247, 247);
    color: rgb(32, 32, 39);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    width: 108px;
    height: 36px;
  }
  .card__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 29px;
    margin-right: 29px;
  }
  .card__title {
    margin-left: 0;
    margin-bottom: 0;
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
  .card__text {
    margin-bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }
  .card__btn_mob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 55px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    margin-top: 32px;
    margin-bottom: 32px;
    transition: 0.3s;
  }
  .games {
    display: none;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}
@media (max-width: 425px) {
  .center {
    padding-left: calc(50% - 187.5px);
    padding-right: calc(50% - 187.5px);
  }
  .top {
    background-position: left 270px top -90px;
  }
  .imgs__star_smaller {
    left: 91px;
    top: 64px;
  }
  .imgs__star_smaller-btm {
    left: 333px;
  }
  .imgs__star_small {
    left: 38px;
    top: 97px;
  }
  .imgs__star_small-btm {
    left: 340px;
  }
}
@media (max-width: 375px) {
  .center {
    padding-left: calc(50% - 170.5px);
    padding-right: calc(50% - 170.5px);
  }
  .top {
    background-position: left 230px top -90px;
  }
  .imgs__star_smaller-btm {
    left: 272px;
  }
  .imgs__star_small-btm {
    left: 303px;
  }
}
@media (max-width: 320px) {
  .center {
    padding-left: calc(50% - 135px);
    padding-right: calc(50% - 135px);
  }
  .top {
    background-position: left 170px top -90px;
  }
  .top__btn {
    width: 197px;
    margin: auto;
  }
  .imgs__star_smaller-btm {
    left: 230px;
  }
  .imgs__star_small-btm {
    left: 260px;
  }
  .card__btn_mob {
    width: 185px;
    height: 36px;
  }
  .card__wrapper {
    margin-left: 25px;
    margin-right: 25px;
  }
}/*# sourceMappingURL=styles.css.map */